{% extends 'base.html.twig' %}

{% block body %}
    <div class="post-form">
        {{ form_start(form) }}
        {{ form_widget(form, {'attr': {'disabled': not app.user ? 'disabled' : null}}) }}
        <button type="submit" {% if not app.user %}onclick="window.location.href='{{ path('app_login') }}'; return false;"{% endif %}>Publier</button>
        {{ form_end(form) }}
    </div>
    {% for post in posts %}
        {{ include('includes/post.html.twig') }}
    {% endfor %}
{% endblock %}
